<h1><%= t('activerecord.models.bid').pluralize %></h1>

<%= link_to t(:create), new_bid_path %>

<ul>
  <% for bid in @bids %>
  <li id="bid_<%= bid.id %>">
    <%= link_to "#{t('activerecord.models.bid')}: #{bid.id} |
      #{t('activerecord.attributes.bid.auction')}: #{bid.auction.name} |
      #{t('activerecord.attributes.bid.user')}: #{bid.user.email}", bid %>
    | <%= link_to t(:edit), edit_bid_path(bid) %>
    | <%= link_to t(:remove), bid, :method => 'delete', :confirm => t(:bid_removal_confirmation) %>
  </li>
  <% end %>
</ul>
