<h1><%= t(:details) %></h1>

<p>
  <%= t('activerecord.attributes.auction.name') %>:
  <%= @auction.name %><br />
  
  <% @auction.product.photos.each do |photo| %>
    <%= link_to(image_tag(photo.file.url(:small)), photo.file.url(:large)) %><br />
  <% end %>
</p>

<%= link_to t(:list), auctions_path %>
