<!DOCTYPE html>
<html>
<head>
  <title><%= t(:project_name) %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    $.i18n.properties({
      name: 'messages',
      language: '<%= I18n.locale %>',
      path: '/messages/',
      mode: 'both'
    });
  </script>
</head>
<body>

<%= render '/layouts/shared/flash_messages' %>
<%= render '/layouts/shared/language_selector' %>
<%= render '/layouts/shared/authentication_box' %>

<%= yield %>

</body>
</html>
