<!DOCTYPE html>
<html>
<head>
  <title><%= "#{t('project_name')} - #{t('admin_system')}" %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'faye_client_js' %>
  <%= csrf_meta_tags %>
  <%= render 'i18n_properties' %>
  <%= render 'faye_channels' %>
</head>
<body>

<%= render 'header' %>
<%= render 'menu' %>

<%= yield %>

</body>
</html>
