<%= "#{t('welcome_to')} #{t('project_name')}" %>

<ul>
  <% for auction in @auctions %>
    <li id="auction_<%= auction.id %>">
      <%= link_to auction.name, auction_path(auction) %><br />
      <%= auction_cover(auction, :small) %><br />
      
      <div class="countdown"
           id="<%= auction.id %>"
           data-countdown-cycle="30"
           data-countdown-seconds="<%= (auction.end_time - Time.zone.now).to_i %>">--:--:--</div>
      
      <div class="auctionEndPrice"><%= auction.end_price %></div><br />
      <div class="auctionLastBidder"><%= auction_last_bidder(auction) %></div><br />
      <%= link_to t('activerecord.models.bid'), bids_path(:auction_id => auction.id), :remote => true, :method => :post %>
    </li>
  <% end %>
</ul>
