<%= form_for([:admin, @auction]) do |f| %>
  <% if @auction.errors.any? %>
    <ul id="auction_messages">
      <% @auction.errors.full_messages.each do |message| %>
        <li class="auction_error"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :product_id %>
  <%= f.collection_select(:product_id, Product.all, :id, :name, :prompt => true) %><br />

  <%= f.label :end_time %>
  <%= f.datetime_select :end_time, :prompt => true %><br />

  <%= f.label :cycle %>
  <%= f.number_field :cycle %><br />

  <%= f.check_box :is_active %>
  <%= f.label :is_active %><br />

  <%= f.submit %>
<% end %>
