<h1><%= t(:details) %></h1>

<p>
  <%= t('activerecord.attributes.auction.name') %>:
  <%= @auction.name %><br />
  
  <%= t('activerecord.attributes.auction.product') %>:
  <%= @auction.product.name %><br />
  
  <%= image_tag @auction.product.image.url(:thumb) %>
</p>

<%= link_to t(:list), admin_auctions_path %>
