<%= form_for([:admin, @product]) do |f| %>
  <% if @product.errors.any? %>
    <ul id="product_messages">
      <% @product.errors.full_messages.each do |message| %>
        <li class="product_error"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= f.label :name %>
  <%= f.text_field :name %><br />


  <%= f.fields_for :photos do |photo| %>
    <% if photo.object.new_record? %>
      <%= photo.file_field :file %><br />
    <% end %>
  <% end %>


  <%= f.fields_for :photos do |photo| %>
    <% unless photo.object.new_record? %>
      <%= link_to(image_tag(photo.object.file(:small)), photo.object.file(:large)) %>
      
      <%= photo.check_box :is_cover %>
      <%= photo.label :is_cover %>
      
      <%= photo.check_box :_destroy %>
      <%= photo.label :_destroy %><br />
    <% end %>
  <% end %>

  <%= f.submit %>
<% end %>
