<%= form_for([:admin, @product]) do |f| %>
  <% if @product.errors.any? %>
    <ul id="product_messages">
      <% @product.errors.full_messages.each do |message| %>
        <li class="product_error"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.file_field :image %>
  <%= f.submit %>
<% end %>
