<p><%= "#{t('hello')} #{@resource.email}!" %></p>

<p><%= "#{t('someone_requested_to_change_your_password')}:" %></p>

<p><%= link_to t('change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('if_you_didnt_request_ignore_this_email') %></p>
<p><%= t('password_wont_change_until_you_access_link_and_create_a_new_one') %></p>
