<h1><%= t(:details) %></h1>

<p>
  <%= t('activerecord.attributes.product.name') %>:
  <%= @product.name %><br />
  
  <%= image_tag @product.image.url(:thumb) %>
</p>

<%= link_to t(:list), products_path %>
