<h1><%= t(:details) %></h1>

<p>
  <b><%= t('activerecord.attributes.product.name') %>:</b>
  <%= @product.name %><br />
  <%= image_tag @product.image.url(:thumb) %>
</p>

<%= link_to t(:list), products_path %>
