<!DOCTYPE html>
<html>
<head>
  <title><%= t(:project_name) %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.any? %>
  <ul class="flash">
    <% flash.each do |type, message| %>
      <li class="<%= type %>"><%= t(message) %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
