<!DOCTYPE html>
<html>
<head>
  <title><%= t(:project_name) %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    $.i18n.properties({
      name: 'messages',
      language: '<%= I18n.locale %>',
      path: '/messages/',
      mode: 'both'
    });
  </script>
</head>
<body>

<% if flash.any? %>
  <ul class="flash">
    <% flash.each do |type, message| %>
      <li class="<%= type %>"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% if I18n.available_locales.any? %>
  <ul id="languages">
    <% I18n.available_locales.each do |locale| %>
      <li><%= link_to t(locale), {:locale => locale} %></li>
    <% end %>
  </ul>
<% end %>

<div id="authentication_box">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>.
    Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    or <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>