<!DOCTYPE html>
<html>
<head>
  <title><%= t(:project_name) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.any? %>
  <% flash.each do |name, message| %>
    <div class="flash <%=name%>">
      <%= message %>
    </div>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
